<h2>Profile</h2>

<%= @user.email %><br>

<%= image_tag @user.avatar.url(:medium) %>

<div class="calendar">
  <%= month_calendar do |date| %>
    <%= date %> <br>
    <%= link_to "New Health Journal Entry", new_entry_path %>
  <% end %>

</div>
