<h2>Profile</h2>

<%= @user.email %><br>

<%= image_tag @user.avatar.url(:medium) %>

<div class="calendar">
  <%= month_calendar do |date| %>
    <%= date %> <br>
    <%= button_to user_entries_path(@user) do %>
      <strong>Add new Entry</strong</>
    <% end %>
  <% end %>

</div>
